{% extends "_base.html" %}

{% block content %}

<div class="text-center">
  <h1>Manage</h1>
</div>

<br>

<div>
  <form action="{{ url_for('delete') }}" method=post>
    {% for gif in gifs %}
      <div class="container">
        <input type="submit" class="btn btn-primary btn-lg btn-block" value="DeleteSelected">
        <input type="checkbox" id="{{gif.gifid}}" name="deleted" value="{{gif.gifid}}">
        <label for="{{gif.gifid}}">{{gif.slug}}</label>
        <br>
        <iframe src="https://giphy.com/embed/{{gif.gifid}}" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/{{gif.slug}}">via GIPHY</a></p>
      </div>
    {% endfor %}
  </form>
</div>

{% endblock %}
